
@{
    Layout = "~/Views/Shared/_signup.cshtml";
}

  <div id="maincontent">
      <fieldset>
        <legend>Contact Us</legend>

        <h3>Raheel Ahmad</h3>
        <p>
          Cell No.  03434717378 <br/>
          E-mail <a href="mailto:bcsf10a.054@gmial.com">bcsf10a.054@gmail.com</a>
        </p>
      </fieldset>

  </div>


